@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #e6e6fa, #fce4ec); /* Lavender to soft pink */
  color: #2d2d2d; /* Soft dark grey for readability */
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5e6f7; /* Soft lavender tone */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d18db0; /* Muted pink for aesthetic */
    border-radius: 5px;
  }
}

.h-image {
  -webkit-mask-image: url("../public/black.png");
  -webkit-mask-position: center;
  -webkit-mask-size: 390px 390px;
  -webkit-mask-repeat: no-repeat;
  z-index: -10;
}

@media (max-width: 1280px) {
  .h-image {
    -webkit-mask-size: 300px 300px;
  }
}

@media (max-width: 1024px) {
  .h-image {
    -webkit-mask-size: 300px 300px;
  }
}

@media (max-width: 415px) {
  .h-image {
    -webkit-mask-size: 270px 270px;
  }
}

/* CARD ANIMATIONS */
.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.custom-toast {
  background-color: #f6e8f8 !important;

  .Toastify__progress-bar {
    background-color: #e48abf;
  }
}

.std-backdrop-blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
